@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,600&display=swap');

.bg-color {
    background-color: black;
}

.box {
    height: 100%;
    width: 17.2rem;
}

.image-stack {
    display: inline-block;
}

.layover {
    font-size: 32px;
    font-weight: 200;
    color: white;
    font-family: 'Dosis', sans-serif;
}

.pale-break {
    width: 33rem;
    height: 2px;
    border: 0;
    background-color: #922e2b;
}

span {
    padding: 5px 5px;
}